
section.content
  h1.content__heading Optin-out Request Form
  p.content__lede Use this handy form to post emails to be opt-out.

  form#requestForm.content__form.contact-form 
      
    
      
    .contact-form__input-group
      label.contact-form__label(
        for="dc"
      ) Distribution Channel
      select#dc.contact-form__input.contact-form__input--select(
        name="dc"
      )
        option Oakley
        option SunglassHut
        option Lenscrsafters
        option Target Optical

    .contact-form__input-group
      label.contact-form__label(
        for="email"
      ) Email Address
      input#email.contact-form__input.contact-form__input--email(
        name="email"
        type="email"
      )

    .contact-form__input-group
      label.contact-form__label(
        for="requestType"
      ) Request Type
      select#requestType.contact-form__input.contact-form__input--select(
        name="requestType"
      )
        option Opt-Out
        option Opt-In

    .contact-form__input-group
      label.contact-form__label(
        for="emailList"
      ) Email List
      textarea#emailList.contact-form__input.contact-form__input--textarea(
        name="emailList"
        rows="10"
        cols="65"
      )

    .contact-form__input-group
      label.contact-form__label(
        for="requestId"
      ) Request Id
      input#requestId.contact-form__input.contact-form__input--text(
        name="requestId"
        type="text"
        readonly="readonly"
      )    
      
    //- A hidden input to demonstrate that these are grabbed as well.
    input(
      name="secret"
      type="hidden"
      value="1b3a9374-1a8e-434e-90ab-21aa7b9b80e7"
    )

    button.contact-form__button(
      type="submit"
    ) Send It!


  p#message.message__lede 
  
//.results
//  h2.results__heading Form Data
//  pre.results__display-wrapper
//    code.results__display

